@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,600');

@tailwind preflight;
@tailwind utilities;

// Overrides utilities
@media (min-width: 1060px) {
  .container {
    max-width: 820px;
  }
}

body {
  @apply .font-sans border-l-8 border-teal .text-black .pb-24;
  background-color: #fffdf0;
}

svg.icon {
  background-color: transparent;
  fill: currentColor;
}

.content {
  @apply .leading-normal .font-sans .text-lg .my-8;
}

a {
  @apply text-teal-dark;
}
